<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Demo: FaceRecognition on NodeJS</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/styles.css">

</head>
<body>


<h3>Demo: FaceRecognition Using NodeJS</h3>
<h4 id="prediction" style="text-align: center"></h4>

<div class="container">

  <div class="app">

    <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
    <video id="camera-stream" muted="muted"></video>
    <img id="snap">

    <p id="error-message"></p>

    <div class="controls">
      <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="material-icons">delete</i></a>
      <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
      <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>
    </div>

    <!-- Hidden canvas element. Used for taking snapshot of video. -->
    <canvas></canvas>

  </div>

</div>

<div class="col-12 col-md-4 col-sm-6 text-center">
  <!--<button type="button" class="btn btn-primary" style="margin-left:40%">Click here to train the captured images</button>-->
</div>
<div class="col-12 col-md-4 col-sm-6 text-center">
  <input type="text" class="form-control" id="usr" placeholder="Enter your name in this format: donald-trump (No spaces, no underscores)">
</div>
<div class="col-12 col-md-4 col-sm-6 text-center">
  <button type="button" class="btn btn-primary" id="trainbtn">Click here to train the captured images</button>
</div>


<div class="row" style="margin-top:200px;" id="row">
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="js/script.js"></script>

</body>

</html>